body {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    display: flex;
}


/* Navbar.js */

.navbar {
    height: 80px;
    width: 100vw;
    border-bottom: solid 1px lightgray;
    display: flex;
    text-decoration: none;
    justify-content: space-evenly;
}

.app-name-link,
.sign-in-link,
.cart-link {
    text-decoration: none;
}

.cart {
    display: flex;
    height: 80px;
    width: 80px;
    justify-content: center;
}

.cart-img {
    display: flex;
    height: 20px;
    width: 20px;
}

.main-homepage {
    display: flex;
    flex-direction: column;
    align-items: center;
}


/* Homepage - shop by category */

.category {
    display: flex;
    justify-content: center;
    width: 100vw;
    flex-direction: column;
    align-items: center;
}

.category-type {
    display: flex;
    width: 100vw;
    justify-content: space-evenly;
}

.clothing,
.jewelry,
.toys {
    height: 200px;
    width: 200px;
    border: solid 1px lightgray;
}

.category-image {
    height: 200px;
    width: 200px;
    border: solid 1px lightgray;
}


/* Homepage - shop by products */

.products {
    display: flex;
    justify-content: center;
    width: 100vw;
    flex-direction: column;
    align-items: center;
}

.products-type {
    display: flex;
    width: 100vw;
    justify-content: space-evenly;
}


/* .black-shirt,
.white-shirt,
.earrings,
.legos, */

.each-products {
    height: 300px;
    width: 200px;
    display: flex;
    flex-direction: column;
    /* text-align: center; */
}

.product-image {
    display: flex;
    height: 200px;
    width: 200px;
    border: solid 1px lightgray;
}

.product-name {
    display: flex;
    justify-content: center;
}

.product-price {
    display: flex;
    justify-content: center;
}


/* .clothing-link,
.jewelry-link,
.toys-link {
    text-decoration: none;
}

.tshirts-link,
.ear-rings-link,
.legos-link {
    text-decoration: none;
} */


/* Category.js */

.main-category-div {
    display: flex;
    flex-direction: column;
}

.category-name {
    display: flex;
}

.category-sidebar-content {
    display: flex;
}

.sidebar {
    display: flex;
    height: 100vh;
    width: 200px;
    border: solid 1px lightgray;
}

.content {
    display: flex;
    height: 100vh;
    width: 100vw;
    justify-content: flex-start;
}

.content-product {
    display: flex;
    flex-direction: column;
    padding: 30px 30px 30px 30px;
    align-items: center;
}


/* .product-img {
    height: 200px;
    width: 200px;
    border: solid 1px gray;
    text-align: center;
} */

.item-image {
    height: 200px;
    width: 200px;
    border: solid 1px gray;
    text-align: center;
}


/* ProductDetailPage.js */

.product-details {
    height: 100vh;
    width: 100vw;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.product-details div {
    display: flex;
}


/* .product-details img { */

.detail-page-image {
    height: 500px;
    width: 500px;
    border: solid 1px lightgray;
}

.addcart-bt {
    height: 40px;
    width: 80px;
    border: solid 1px lightgray;
}